@font-face {
    font-family: Abraham;
    src: url(fonts/abraham-lincoln/AbrahamLincoln.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(fonts/gotham-black-regular/GothamBlackRegular.ttf);
}
